h1,p { margin: 2vh; font-weight:600 }
body { background-color: #414141; font-family: "Courier New", Courier, monospace; }
button { border: none; background-color: #b0f2ac; font-family: "Courier New", Courier, monospace; font-size: 300%; cursor: pointer; }

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
}

.text-saba {
    background-color: #b0f2ac;
}

.text-q {
    background-color: #ce93e0;
}

.text-row {
    border-radius: 10px;
    padding: 2%;
}

.text-date {
    font-size: small;
}